<footer class="py-4">
    <div class="row">
      <div class="col-6 col-md-2 mb-3">
        <h5>Membre</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Cessu Maxime</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Bekono Donald</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Nguetho Gabrielle</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Obama Clement</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Obama Clement</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-2 mb-3">
        <h5>Membre</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Cessu Maxime</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Bekono Donald</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Nguetho Gabrielle</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Obama Clement</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Obama Clement</a></li>
        </ul>
      </div>
  
      <div class="col-6 col-md-2 mb-3">
        <h5>Contactez-Nous</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">
              <fa-icon [icon]="faFacebook" size="2x"></fa-icon>
            </a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">
              <fa-icon [icon]="faWhatsapp" size="2x"></fa-icon>
            </a>
          </li>
        </ul>
      </div>
  
      <div class="col-md-5 offset-md-1 mb-3">
        <form>
          <h5 class="white">Souscrivez à la boite aux lettre</h5>
          <p class="white">Soyez au courant de toutes nos nouveautés en continue </p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input type="text" />
            <button class="btn btn-primary" type="button">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
  
    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p>© 2024 groupe 15, ENSPY. All rights reserved.</p>
    </div>
  </footer>
  